body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #f0f0f0;
}
.box1{
   
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.box1 ul{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
   
}
#tasklist button{
    background-color: rgb(28, 189, 103);
    border: none;
}
#tasklist button.DeletButton{
    background-color: red;
    margin-left: 2px;
  
}


#addButton{
    
}